

<h2>Custom pageeeee detail product.....</h2>


<h3>id: <%= @product.id %></h3>
<h3>title: <%= @product.title %></h3>
<h3>body_html: <%= @product.body_html %></h3>
<h3>vendor: <%= @product.vendor %></h3>
<h3>published_at: <%= @product.published_at %></h3>
<h3> Imammmageee </h3> 
<img src="<%= @product.image.src %>" alt="Image Description" width="300" height="200">




<!-- shpua_ac5b6f7542d32e71b9cde2b3ac209d7d -->