
<h1> Orders List </h2>

Total Order : <%=@orders.count%>
<pre><%= @orders.first.pretty_inspect %></pre>




<table border="1">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Name</th>
      <th>Browser IP</th>
      <th>Customer </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.client_details.browser_ip %></td>
        
         <td><%= order.customer.last_name rescue nil%></td>
      
      </tr>
    <% end %>
  </tbody>
</table>



